body{
    margin: 0;
    padding: 0;
    background-color: #f9cc30 !important;
    width: 100%;
    min-width:600px;
    max-width:2000px;
    overflow-x: hidden;
    overflow-y: hidden;
    /* #background-image: url(../imagenes/fondo3.png); */
    /* background-size:cover;
    background-position:center; */
}

.container{
    background-color:#f9cc30;
    /*/padding-left: 10px;*/ 
    width:100%;
    position:absolute;
    top:100%;
    height:60vh;
}

.img{
    background:white;   
}

.img .logo-loteria{
    width: 50px; 
    height: 50px;
}
.panel-default{
    height: 265px; 
    border: 5px;
    background: white;
}
.img-container {
    position: relative;
    text-align: center;  
}

.panel .panel-default{
    width: 100%;
    height: 35%;
}

.img-container .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:red;    
}  

/*cambiando color a los numeros sorteo Kino Tv*/
.loteria-super-kino .img-container .number{ 
    color: blue;   
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin-top: -50%;
}
   /*Retirando imagen de los bolos sorteo Kino Tv*/           
.loteria-super-kino .img-container .logo-loteria{
    visibility: hidden;}

.loteria-loteria-real .img-container .number{
    color: darkgreen;
    font-size:large;
}

.loteria-loteria-real{
    position: absolute;
   
   
}

.loteria-la-suerte\.p.panel-default{
    position: relative;
    bottom:103.4%;
    z-index:loteria-real; 
}

.loteria-la-primera\.p.panel-default{
    position: relative;
    bottom:103.4%;
}

.loteria-quiniela-pale{
    position: relative;
    right:103% ;
    z-index:loteria-pega-mas;
}

.loteria-loteria-nacional{
    position: relative;
    left:103% ;
}

.loteria-loto{
    position: relative;
    left:103% ;
    bottom: 207.7%;
}
.loteria-loto .img-container .number{
color:black;
}

.tabla1{
    border-spacing: 50%;
    border-width: 50%;
}    
.clock{
    position: absolute;
    left: 88%;
    top: 0%;
    font-size: 20px;
    color: #FFFFFF;
    /*color:darkblue;
    color: #FFFFFF;
    background:red;*/
    text-shadow: 0 0 5px #FFF, 
    0 0 10px #FFF, 0 0 15px #FFF, 
    0 0 20px #49ff18, 
    0 0 30px #49FF18, 0 0 40px #49FF18, 
    0 0 55px #49FF18, 0 0 75px #49ff18;
     
}

.date{
    visibility: hidden;
    position: absolute;
    top: 10%;
    font-size: 20px;
    color:darkblue;
}


.carousel-slide{
    position: relative;
    height:30vh;
    /*width: 200px; border-left:30px solid transparent; 
    width: 200px; border-left:30px solid transparent; 
    border-right:0px solid transparent; 
    border-top:0px solid transparent;
    border-bottom:40px solid #0080FF;                         
    border-right: 0px solid transparent; 
    border-top: 0px solid transparent;
    border-bottom:40px solid #0080FF;*/
}
.carousel-items{
    transition: transform 2s ease, opacity .5s ease-out;
}
.fe_sorteos{
    font-size:small;
    font-weight: bold;
}

.piep{
    width: 98%;
    height: 30px;
    font-size:x-small;
    font-weight: bold;
    text-align: center;  
    top:235px;
    right: 3px;
    color:blue
	}
/*.piep:before{
    content: "";
    position: absolute;
    top:-10px;
    left:0px;
    border-left:5px solid transparent;
    border-right:5px solid black;
    border-top:5px solid transparent;
    border-bottom:5px solid ;
    
}*/

/*.pie_f{
    background: blue;
    color:white;
    font-size: xx-small;
    border-radius: 65px 65px 0px 0px;
    bottom:0;
    position:fixed;
        /*border-left: 60px solid transparent;
    /*border-top: 100px solid #428bca;
    font: message-box;
}*/

.acumulado21{
    width: 100%;
    height: 25vh;
    background:white;
    /*text-align: justify;*/
    color:black;
    font-size:x-small;
    font-weight: bold;
    
    
   
}
.acumulado{
        /*border-right: 60px solid transparent;*/
    height: 25vh;
    width: 100%;
    left:50%;
    top:0%;
    left:0%;
    border: 0%;
}
.acumulado td{
    text-align: center; 
     margin: auto; 
     font-size: x-large;
     
}
.acu1{
    color:red;
    font-size:50px;
    font-weight: bold;
}

.lotoacu{
    color:blue;
    font-weight: bold;
}
.masacu{
    color:red;
    font-weight: bold;
}
.super{
    color:blue;
    font-weight: bold;
}
.sliders{
    width:100%;
    height: 100vh;    
}
.sliders2{
    width:100%;
    height: 100vh;    
}
.desplegar{
    display: flex;
    top: 0%;
}

.carrusel{
    width: 100%;
    height: 40vh;
}
.p-encabezado{
    width: 100%;
    border:#f9cc30 3px outset;
    margin-bottom:10px;
}
.resultados-loterias{
    position: relative;
    display:flex;
    width: 75%;
    height: 25vh;
    
    /*-webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(40deg);
    -o-transform: skew(20deg);
    transform: skew(0deg);*/
}

.datog1 h1{
    height:50%;
    overflow: hidden;
    margin: 0 auto;
    /*color:transparent;*/
    color:red;
    font-weight: bold;
    -webkit-text-stroke: 3px whitesmoke;
    animation: animado 3s linear infinite;
        
}
@keyframes animado{
    0%, 80%{
        color: #333;
    }
    100%{
        color:greenyellow;
        text-shadow: 0 0 10px #fff
                     0 0 20px #fff
                     0 0 40px #fff
                     0 0 60px #fff
                     0 0 80px #fff
                     0 0 120px #fff
                     0 0 160px #fff;
    

 }
}
#mislider{
    width:100%;
    height:100 vh;
    position: relative;
    top:0%;
}
.mis_sliders{
    width:100%;
    height:100 vh;
    position: absolute;
    top:0;
 
}
table .td{
    height: 100vh;
}
/*modal{
    width: 100%;
    height:100vh;
    position: relative;
    top:0;
    left:0;

    display:flex;

    animation:modal 3s;
    animation-delay: 5s;
    visibility: hidden;
    opacity: 0;
    animation-fill-mode: forwards;
}*/
.contenido{
    margin:auto;
    width:100%;
    height:100 vh;
    background:white;
    position:relative;
    top:0;
    left:0;
    display:flex;


}

#cerrar{
    display: none;
}
#cerrar + label{
    position: fixed;
    color:#fff;
    font-size:25px;
    z-index:50;
    background: darkred;
    height: 40px;
    width: 40px;
    line-height: 40px;
    cursor: pointer;

    animation:modal 3s;
    animation-delay: 5s;
    visibility: hidden;
    opacity: 0;
}
@keyframes modal{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.modal fade{
    width: 100%;
}
#exampleModal{
    height: 100vh;
    width: 200%;
    top:0%;
    left:19%;
    
}
/*
Full screen Modal 
*/
.modal{
    left:50%;
    height: 100vh;
    width: 100%;  
}
.modal-content{
    width: 100%;
    height: 100vh;
    position:relative; 
    display:center;
    top:0%;
    left:0%; 
}
.body-modal{
    width: 100%; 
    max-height: 2000px; 
    overflow-y: auto;
    align-items: center;
}


.modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  @media (min-width: 768px) {
    .modal .modal-dialog {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .modal .modal-dialog {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .modal .modal-dialog {
       width: 1170px;
    }
  }
  header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
    height:40%;
    overflow:hidden; /* Eliminamos errores de float */
    background:#f9cc30;
    /*border:#f9cc30 5px outset;*/
    border-top: 0px outset;
    border-left:0px outset;
    border-right: 0px outset;
    border-bottom:#f9cc30 10px outset; ;
    margin-bottom:10px;
}

header .logo {
	color:black;
	font-size:50px;
	line-height:180px;
    float:left;
    
}
.sorteo_winner{
    border:5px solid red;
}   
.datog2{
    width: 170px;
    top:0%;
}
.pie_f{
    bottom: -20%;
    height: 20%;
    display:flex;
}
.anuncio{
    color:white;
    width: 100%;
    height: 0px;
    border-color: blue;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom:50px solid blue;
    font-size:20px;
    display:fixed;
}

.itrans{
    background-color: blue;
    width: 100%;
}
.control-modal{
    background-color: white;
    opacity: 0%;
}
.flex-container{
    width: 100%;
    height: 50%;
    background-color: DodgerBlue;
    margin-bottom:20px;
      
}
.flex-item{
    border-right: 80px solid transparent;
    border-top: 100px solid white;
}
#CloseModal{
    position: fixed;
}

.leidsalogo{
    width: 200px;
    height: 150px;
    position:absolute;
    left: 113%;
    top:23%;
    background-color: #f9cc30;
}
